WindowsForms/Connected Services/ServiceReference3/MenuManagerInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MenuManagerInterface" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52192/Services/MenuManagerInterface.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52192/Services/MenuManagerInterface.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52192/Services/MenuManagerInterface.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMenuManagerInterface_GetAllMenuInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMenuInfo" />
  </wsdl:message>
  <wsdl:message name="IMenuManagerInterface_GetAllMenuInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMenuInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuManagerInterface_GetAllMenuInfoByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMenuInfoByName" />
  </wsdl:message>
  <wsdl:message name="IMenuManagerInterface_GetAllMenuInfoByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMenuInfoByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuManagerInterface_GetAllGroupInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGroupInfo" />
  </wsdl:message>
  <wsdl:message name="IMenuManagerInterface_GetAllGroupInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGroupInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuManagerInterface_InsertMenuInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMenuInfo" />
  </wsdl:message>
  <wsdl:message name="IMenuManagerInterface_InsertMenuInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMenuInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuManagerInterface_UpdateMenuInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMenuInfo" />
  </wsdl:message>
  <wsdl:message name="IMenuManagerInterface_UpdateMenuInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMenuInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IMenuManagerInterface">
    <wsdl:operation name="GetAllMenuInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuManagerInterface/GetAllMenuInfo" message="tns:IMenuManagerInterface_GetAllMenuInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuManagerInterface/GetAllMenuInfoResponse" message="tns:IMenuManagerInterface_GetAllMenuInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMenuInfoByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuManagerInterface/GetAllMenuInfoByName" message="tns:IMenuManagerInterface_GetAllMenuInfoByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuManagerInterface/GetAllMenuInfoByNameResponse" message="tns:IMenuManagerInterface_GetAllMenuInfoByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGroupInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuManagerInterface/GetAllGroupInfo" message="tns:IMenuManagerInterface_GetAllGroupInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuManagerInterface/GetAllGroupInfoResponse" message="tns:IMenuManagerInterface_GetAllGroupInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMenuInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuManagerInterface/InsertMenuInfo" message="tns:IMenuManagerInterface_InsertMenuInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuManagerInterface/InsertMenuInfoResponse" message="tns:IMenuManagerInterface_InsertMenuInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMenuInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuManagerInterface/UpdateMenuInfo" message="tns:IMenuManagerInterface_UpdateMenuInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuManagerInterface/UpdateMenuInfoResponse" message="tns:IMenuManagerInterface_UpdateMenuInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMenuManagerInterface" type="tns:IMenuManagerInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMenuInfo">
      <soap:operation soapAction="http://tempuri.org/IMenuManagerInterface/GetAllMenuInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMenuInfoByName">
      <soap:operation soapAction="http://tempuri.org/IMenuManagerInterface/GetAllMenuInfoByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGroupInfo">
      <soap:operation soapAction="http://tempuri.org/IMenuManagerInterface/GetAllGroupInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMenuInfo">
      <soap:operation soapAction="http://tempuri.org/IMenuManagerInterface/InsertMenuInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMenuInfo">
      <soap:operation soapAction="http://tempuri.org/IMenuManagerInterface/UpdateMenuInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuManagerInterface">
    <wsdl:port name="BasicHttpBinding_IMenuManagerInterface" binding="tns:BasicHttpBinding_IMenuManagerInterface">
      <soap:address location="http://localhost:52192/Services/MenuManagerInterface.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>