WindowsForms/Connected Services/ServiceReference2/RoleManagerInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoleManagerInterface" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52192/Services/RoleManagerInterface.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52192/Services/RoleManagerInterface.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52192/Services/RoleManagerInterface.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:52192/Services/RoleManagerInterface.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoleManagerInterface_GetAllRoleInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoleInfo" />
  </wsdl:message>
  <wsdl:message name="IRoleManagerInterface_GetAllRoleInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoleInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleManagerInterface_GetRoleMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleMenu" />
  </wsdl:message>
  <wsdl:message name="IRoleManagerInterface_GetRoleMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleManagerInterface_UpdateRoleMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoleMenu" />
  </wsdl:message>
  <wsdl:message name="IRoleManagerInterface_UpdateRoleMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoleMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleManagerInterface_InsertRoleInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRoleInfo" />
  </wsdl:message>
  <wsdl:message name="IRoleManagerInterface_InsertRoleInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRoleInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleManagerInterface_UpdateRoleInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoleInfo" />
  </wsdl:message>
  <wsdl:message name="IRoleManagerInterface_UpdateRoleInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoleInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoleManagerInterface">
    <wsdl:operation name="GetAllRoleInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleManagerInterface/GetAllRoleInfo" message="tns:IRoleManagerInterface_GetAllRoleInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleManagerInterface/GetAllRoleInfoResponse" message="tns:IRoleManagerInterface_GetAllRoleInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleManagerInterface/GetRoleMenu" message="tns:IRoleManagerInterface_GetRoleMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleManagerInterface/GetRoleMenuResponse" message="tns:IRoleManagerInterface_GetRoleMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRoleMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleManagerInterface/UpdateRoleMenu" message="tns:IRoleManagerInterface_UpdateRoleMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleManagerInterface/UpdateRoleMenuResponse" message="tns:IRoleManagerInterface_UpdateRoleMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRoleInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleManagerInterface/InsertRoleInfo" message="tns:IRoleManagerInterface_InsertRoleInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleManagerInterface/InsertRoleInfoResponse" message="tns:IRoleManagerInterface_InsertRoleInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRoleInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleManagerInterface/UpdateRoleInfo" message="tns:IRoleManagerInterface_UpdateRoleInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleManagerInterface/UpdateRoleInfoResponse" message="tns:IRoleManagerInterface_UpdateRoleInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoleManagerInterface" type="tns:IRoleManagerInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRoleInfo">
      <soap:operation soapAction="http://tempuri.org/IRoleManagerInterface/GetAllRoleInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleMenu">
      <soap:operation soapAction="http://tempuri.org/IRoleManagerInterface/GetRoleMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRoleMenu">
      <soap:operation soapAction="http://tempuri.org/IRoleManagerInterface/UpdateRoleMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRoleInfo">
      <soap:operation soapAction="http://tempuri.org/IRoleManagerInterface/InsertRoleInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRoleInfo">
      <soap:operation soapAction="http://tempuri.org/IRoleManagerInterface/UpdateRoleInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoleManagerInterface">
    <wsdl:port name="BasicHttpBinding_IRoleManagerInterface" binding="tns:BasicHttpBinding_IRoleManagerInterface">
      <soap:address location="http://localhost:52192/Services/RoleManagerInterface.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>